<div class="container">

  <form [formGroup]="symptomForm">
    <div formArrayName="itemRows">
      <div *ngFor="let itemrow of symptomForm.controls.itemRows['controls']; let i=index" [formGroupName]="i">
        <div class="form-group">

          <mat-form-field appearance="fill">
            <mat-label>Symptom {{ i + 1 }}</mat-label>
            <mat-select formControlName="symptom">
              <mat-option *ngFor="let symptom of symptoms" [value]="symptom">
                {{symptom}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <!-- <button *ngIf="symptomForm.controls.itemRows.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger">Delete Button</button> -->
      </div>
    </div>
  </form>

  <button mat-raised-button color="primary" (click)="getDiagnosis()">Get Diagnosis</button>
  <button mat-raised-button color="primary" (click)="addNewControl()" style="margin-left: 10px;">+ Add Symptom</button>


  <mat-list>
      <mat-list-item *ngFor="let diagnosis of diagnosisList">
        <h3> {{diagnosis}} </h3>
      </mat-list-item>
  </mat-list>

</div>